# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Environment / Secret keys
.env
.env.*
!.env.example

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
Thumbs.db
db.db
Desktop.ini
.DS_Store
